<% case current_user.friend_status(user) %>
<% when nil %>
  <button class="btn btn-secondary d-block w-100 ajax-add-friend">Add Friend</button>
<% when "request" %>
  <button class="btn btn-secondary d-inline-block w-100 ajax-cancel-request">Cancel Request</button>
<% when "unconfirm" %>
  <button class="btn btn-secondary d-block w-100 ajax-accept">Accept</button>
<% when "confirm" %>
  <span class="btn btn-secondary disabled d-block w-100">Friend</span>
<% end %>
