// ========== Basic Settings ==========

// ========== Navbar ==========
.navbar-nav .nav-item .nav-link.user-email {
  color: #DEDEDE;
  font-weight: 600;
}

// ========== Post Show ==========
.post-title {
  background-color: #CDCDCD;
}

.post-edit {
  position: absolute;
  right: 10px;
  bottom: 0;
}

// ========== Post Index ==========
.site-name {
  background-color: #DEDEDE;
}

.site-name h1 {
  font-weight: 600;
}

.category-navs li {
  margin-right: 5px;
}

.category-navs li a {
  color: #9A9A9A;
  border: 1px solid #9A9A9A;
}

.category-navs li a.active.nav-link, .category-navs li a:hover {
  color: white;
  background-color: #9A9A9A;
}

// ========== User Profile ==========
.user-profile {
  background-color: #DEDEDE;
}

.user-profile-navs {
  border-bottom: 1px solid #898989;
}

.user-profile-navs li a.nav-link.active,
.user-profile-navs li a.nav-link.active:hover {
  background-color: #DEDEDE;
  border: 1px solid #898989;
  border-bottom: 1px solid #DEDEDE;
}

.user-profile-navs li a.nav-link:hover {
  border-bottom: none;
}

.user-profile-post,
.user-profile-comment {
  background-color: #DEDEDE;
}

.user-profile-comment > div:nth-child(even) {
  height: 2px;
  background: #ABABAB;
  position: absolute;
  left: 0;
  right: 0;
}

.user-profile-comment-content {
  border: 2px solid #ABABAB;
  border-radius: 5px;
  background-color: #FFF;
}

.user-profile-comment .edit {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
