// ========== Basic Settings ==========

// ========== Navbar ==========
.navbar-nav .nav-item .nav-link.user-email {
  color: #DEDEDE;
  font-weight: 600;
}

// ========== Post Show ==========
.post-title {
  background-color: #CDCDCD;
}

.post-edit {
  position: absolute;
  right: 10px;
  bottom: 0;
}

// ========== Post Index ==========
.site-name {
  background-color: #DEDEDE;
}

.site-name h1 {
  font-weight: 600;
}

.category-navs li {
  margin-right: 5px;
}

.category-navs li a {
  color: #9A9A9A;
  border: 1px solid #9A9A9A;
}

.category-navs li a.active.nav-link, .category-navs li a:hover {
  color: white;
  background-color: #9A9A9A;
}

// ========== User Show ==========
.user-profile {
  background-color: #DEDEDE;
}
