// ========== Post Show ==========
.post-title {
  background-color: #CDCDCD;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -31px;
}

.post-edit {
  position: absolute;
  right: 10px;
  bottom: 0;
}
